/*@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;500&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap");

:root {
  --easing: cubic-bezier(0.2, 1, 0.2, 1);
  --transition: 0.8s var(--easing);
  --color-base: #f8f8f8;
  --color-gray: #ddd;
  --color-theme: #8e394f;
  --color-theme-darken: #572331;
  --color-text-base: #333;
  --box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05), -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.08), -1rem -1rem 1.5rem #fff;
  --box-shadow-inset: inset 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05), inset -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-dark: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.1), -0.8rem -0.8rem 1.2rem rgba(#fff, 0.2);
}

html {
  font-family: "Klee One", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  /*font-size: 62.5%;*/
  height: 100%;
  word-break: break-word;
  color: #333;
  background-color: var(--color-base);
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.8;
  /*scroll-behavior: smooth;*/
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 80%;
  }
}

body {
  font-size: 1rem;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background: var(--color-theme);
}

::selection {
  color: #fff;
  background: var(--color-theme);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

img {
  border: 0;
  margin: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: block;
}

.l-inner {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10rem;
}

.l-section {
  border-top: 1px solid #eee;
}

.l-section .l-inner {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

[class*="swiper"]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}

.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  display: grid;
  place-content: center;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.swiper-button-prev::before,
.swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: solid var(--color-gray);
  border-width: 3px 3px 0 0;
}

.swiper-button-prev::after {
  margin-left: 0.4rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.swiper-button-next::after {
  margin-right: 0.4rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

 {
  margin-bottom: 16rem;
}

.l-inner {
  padding-bottom: 0;
}

.swiper-pagination {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}

.swiper-pagination-bullet {
  display: block;
  width: 1.6rem;
  height: 2px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: #fff;
}

.swiper-pagination-bullet:not(:first-child) {
  margin-top: 1.6rem;
}

.swiper-pagination-bullet-active {
  width: 4rem;
  background-color: var(--color-theme);
}

.swiper-fade .swiper-slide {
  -webkit-transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, transform !important;
  transition-property: opacity, transform, -webkit-transform !important;
  pointer-events: none;
}

.swiper-fade .swiper-slide-active {
  pointer-events: auto;
}

.slide {
  display: grid;
  place-content: center;
  height: 100vh;
  padding: 0 8rem;
  text-align: center;
}

.slide-media {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-media img {
  -webkit-transition: 7s 1s linear;
  transition: 7s 1s linear;
  -webkit-transform: translateX(-1.5%) scale(1.1);
  transform: translateX(-1.5%) scale(1.1);
}

.slide-title,
.slide-text,
.slide-link {
  opacity: 1;
}

.slide-title {
  font-size: 6rem;
  line-height: 0.8;
  color: var(--color-base);
}

.slide-text {
  font-size: 1.8rem;
  color: var(--color-base);
}

.slide-button {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  color: var(--color-theme);
}

.slide-button::before {
  display: inline-block;
  width: 6rem;
  height: 1px;
  margin: -2px 1.6rem 0 0;
  content: "";
  vertical-align: middle;
  background-color: currentColor;
}

.swiper-slide[class*="-active"] .slide-media img {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(1.5%) scale(1.05);
  transform: translateX(1.5%) scale(1.05);
}

@-webkit-keyframes mv02-fadeIn {
  0% {
    -webkit-transform: translateY(6rem);
    transform: translateY(6rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes mv02-fadeIn {
  0% {
    -webkit-transform: translateY(6rem);
    transform: translateY(6rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes mv02-fadeOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-6rem);
    transform: translateY(-6rem);
    opacity: 0;
  }
}

@keyframes mv02-fadeOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-6rem);
    transform: translateY(-6rem);
    opacity: 0;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }

  .l-inner {
    padding: 0 4rem;
  }

  .pc {
    display: none !important;
  }

   {
    margin-bottom: 8rem;
  }

  .slide {
    height: max(100vh, 100vw);
  }

  .slide-title {
    font-size: 4rem;
    margin-bottom: 0;
  }

  .slide-text {
    font-size: 1.6rem;
    /*margin: 3.2rem 0;*/
  }
}

/*@media only screen and (max-width: 599px) {*/
/*  html {*/
/*    font-size: 50%;*/
/*  }*/
/*  .pc-tab {*/
/*    display: none !important;*/
/*  }*/
/*}*/
/*@media only screen and (min-width: 1025px) {*/
/*  .tab-sp {*/
/*    display: none !important;*/
/*  }*/
/*}*/
/*@media only screen and (min-width: 600px) {*/
/*  .sp {*/
/*    display: none !important;*/
/*  }*/
/*}*/
.hero__clip {
  aspect-ratio: 1/1.7;
  z-index: 2;
  top: 7vh;
  right: 7.5vw;
  width: 85vw;
  border-radius: 50vw;
  position: absolute;
  margin-left: auto;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .hero__clip {
    aspect-ratio: 1/1.3;
    top: 80px;
    right: 12vw;
    width: 76vw;
    border-radius: 38vw;
  }
}

.p-index-hero {
  aspect-ratio: 1/1.3;
  z-index: 2;
  position: relative;
  padding-top: 7vh;
}

@media only screen and (min-width: 768px) {
  .p-index-hero {
    aspect-ratio: 1/1.05;
    padding-top: 80px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bc5872;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #d28fa0;
  border-radius: 5px;
}

#l-header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
}

#l-header #l-header__bg {
  position: relative;
}

#l-header #l-header__bg > .l-header__wrapper {
  display: flex;
  z-index: 3;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  height: 120px;
}

#l-header #l-header__logo {
  margin: 0;
  padding: 0 0 0 30px;
  font-size: 1rem;
  line-height: 100%;
  text-align: center;
}

#l-header #l-header__logo .l-header__logo--link {
  padding: 15px 0;
}

#l-header #l-header__logo .l-header__logo--link .l-header__logo--svg {
  fill: #898987;
  width: 90px;
}

@media (min-width: 768px) {
  #l-header #l-header__logo .l-header__logo--link .l-header__logo--svg {
    width: 167px;
  }
}

/*@media (max-width: 991px) {*/
/*  #l-gnav {*/
/*    speak: none;*/
/*    display: none;*/
/*  }*/
/*}*/
#l-gnav {
  display: none;
}

@media (min-width: 768px) {
  #l-gnav {
    display: block;
    visibility: visible;
    z-index: 1000;
    position: fixed;
    top: 30px;
    right: 20px;
    flex-basis: 0;
    flex-grow: 1;
    transform: translate(0) !important;
  }

  .l-gnav__item {
    font-size: 1rem;
  }
}

#l-gnav .l-gnav__nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

#s-gnav {
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: 0px;
}

@media (min-width: 768px) {
  #s-gnav {
    display: none;
  }
}

/* ハンバーガーボタン
==============================　*/
.toggle-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 2;
}

.toggle-btn__line {
  background: var(--color-text-base);
  display: block;
  height: 2px;
  position: absolute;
  transition: transform 0.5s;
  width: 100%;
}

.toggle-btn__line--top {
  top: 3px;
}

.toggle-btn__line--center {
  top: 15px;
}

.toggle-btn__line--bottom {
  top: 27px;
}

.toggle-btn__line--top.active {
  top: 15px;
  transform: rotate(45deg);
}

.toggle-btn__line--center.active {
  transform: scaleX(0);
}

.toggle-btn__line--bottom.active {
  top: 15px;
  transform: rotate(135deg);
}

/* ナビゲーションメニュー
==============================　*/
.global-nav {
  display: none;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.global-nav__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.global-nav__item {
  margin-bottom: 30px;
}

.global-nav__item a {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}

.global-nav__item a:hover {
  opacity: 0.7;
}

.c-loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-theme);
  z-index: 1001;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.dummy {
  background-color: var(--color-theme);
  height: 100%;
  padding-top: 145px;
}

.c-curve-wrapper {
  position: relative;
  top: 145px;
  height: 150px;
}

@media (max-width: 767px) {
  .dummy {
    padding-top: 95px;
    height: 100%;
  }

  .c-curve-wrapper {
    top: 95px;
    height: 100px;
  }
}

.c-curve {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 140px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .c-curve {
    height: 100px;
  }
}

.c-curve:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 150vw;
  height: 600%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--color-base);
  content: "";
}

@media (max-width: 1440px) {
  .c-curve:before {
    height: 500%;
  }
}

@media (max-width: 991px) {
  .c-curve:before {
    height: 300%;
  }
}

@media (max-width: 767px) {
  .c-curve:before {
    height: 200%;
  }
}

@media (max-width: 575px) {
  .c-curve:before {
    height: 150%;
  }
}

.dummy-w {
  background-color: var(--color-base);
  height: 100%;
}

.w-curve-wrapper {
  position: relative;
  /*top: 145px;*/
  height: 150px;
}

@media (max-width: 991px) {
  .w-curve-wrapper {
    /*top: 95px;*/
    height: 100px;
  }
}

.w-curve {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 140px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .w-curve {
    height: 100px;
  }
}

.w-curve:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 150vw;
  height: 600%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--color-theme);
  content: "";
}

@media (max-width: 1440px) {
  .w-curve:before {
    height: 500%;
  }
}

@media (max-width: 991px) {
  .w-curve:before {
    height: 300%;
  }
}

@media (max-width: 767px) {
  .c-curve:before {
    height: 200%;
  }
}

@media (max-width: 575px) {
  .w-curve:before {
    height: 150%;
  }
}

.slide-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 30;
  white-space: nowrap;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

/*    #img {*/
/*  position: fixed;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*}*/
#svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

#img {
  height: 100%;
  /*opacity:0;*/
}

.access-container {
  display: flex;
  flex-direction: column;
  padding: 3%;
  gap: 5vh 5vw;
}

.access-item {
  flex: 1;
}

.access-item-img {
  width: 100%;
  object-fit: contain;
  border-radius: 30px;
}

.access-item-txt {
  color: #fff;
  padding: 5%;
}

@media (min-width: 768px) {
  .access-container {
    flex-direction: row;
  }

  .access-item-txt {
    padding: 0 10vw 0 0;
  }
}

.product-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5%;
}

.grid-item {
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}

.item2 {
  grid-column: 2;
  grid-row: 2;
}

.item3 {
  grid-column: 1;
  grid-row: 3;
  position: relative;
}

.image-container {
  background-image: url("../dist/assets/top1.webp");
  background-position: 50% 0;
  height: 50vh;
}

section {
  min-height: 100vh;
}

#color-dodge {
  position: relative;
}

#color-dodge .box {
  position: absolute;
  top: 30px;
  right: 2%;
  width: 41%;
  height: 400px;
  background-image: url("../dist/assets/top1.webp");
}

#color-dodge .txt {
  position: relative;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

a.shake {
  display: inline-block;
}

a.shake:hover {
  animation: shake 0.2s linear;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.hero-wrapper {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  width: 100%;
  height: 100vh;
}

.title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.about-wrapper {
  background-color: var(--color-base);
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.about-container {
  margin: 10% 0 10% 0;
}

.about-img {
  width: 30%;
}

.about-lead-txt {
  width: 55%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.about-txt {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 2% 0 2% 0;
}

@media (max-width: 767px) {
  .about-item-img {
    height: 100%;
    object-fit: cover;
  }
  .about-lead-txt {
    width: 80%;
  }
  .about-txt {
    width: 90%;
  }
}
#about span {
  display: inline-block;
}

.img-box-container {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
}

.img-box {
  width: 100%;
}

.product-wrapper {
  background-color: var(--color-base);
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10%;
}
.product-title {
  margin: 10% 0 10% 0;
}
.product-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product-img-container {
  width: 50%;
  clip-path: polygon(0 0, 100% 3vw, 100% calc(100% - 3vw), 0% 100%);
  position: relative;
}
.product-img-left {
  width: auto;
  height: 400px;
  background-image: url(../dist/assets/concept1.webp);
  background-size: cover;
}
.product-img-left2 {
  width: auto;
  height: 400px;
  background-image: url(../dist/assets/concept3.webp);
  background-size: cover;
}
.product-img-back {
  background-color: var(--color-theme);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-right: 0;
}
.product-img-back-right {
  background-color: var(--color-theme);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 0;
}
.product-img-container-right {
  width: 50%;
  clip-path: polygon(0 3vw, 100% 0, 100% 100%, 0 calc(100% - 3vw));
  position: relative;
}
.product-img-right {
  width: auto;
  height: 400px;
  background-image: url(../dist/assets/concept2.webp);
  background-size: cover;
}

.product-container-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -6vw;
  margin-bottom: -6vw;
}

.product-item-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product-item {
  width: 100%;
}
.product-txt {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 2% 0 2% 0;
}
@media (max-width: 767px) {
  .product-container-left {
    flex-direction: column-reverse;
    margin: 10% 0 10% 0;
  }
  .product-img-container {
    width: 100%;
  }
  .product-img-container-right {
    width: 100%;
  }
  .product-item-container {
    width: 80%;
    margin-top: 10%;
  }
  .product-img {
    width: 100%;
  }
  .product-img-right {
    width: 100%;
  }
}
