/*@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;500&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap");

:root {
  --easing: cubic-bezier(0.2, 1, 0.2, 1);
  --transition: 0.8s var(--easing);
  --color-base: #f8f8f8;
  --color-gray: #ddd;
  --color-theme: #8e394f;
  --color-theme-darken: #572331;
  --color-text-base: #333;
  --box-shadow: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05), -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, 0.08), -1rem -1rem 1.5rem #fff;
  --box-shadow-inset: inset 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.05), inset -0.8rem -0.8rem 1.2rem #fff;
  --box-shadow-dark: 0.8rem 0.8rem 1.2rem rgba(0, 0, 0, 0.1), -0.8rem -0.8rem 1.2rem rgba(#fff, 0.2);
}

html {
  font-family: "Klee One", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  /*font-size: 62.5%;*/
  height: 100%;
  word-break: break-word;
  color: #333;
  background-color: var(--color-base);
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.8;
  /*scroll-behavior: smooth;*/
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 80%;
  }
}

body {
  font-size: 1rem;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

img {
  border: 0;
  margin: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}

.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper-fade .swiper-slide {
  -webkit-transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, transform !important;
  transition-property: opacity, transform, -webkit-transform !important;
  pointer-events: none;
}

.swiper-fade .swiper-slide-active {
  pointer-events: auto;
}

.slide {
  display: grid;
  place-content: center;
  height: 100vh;
  padding: 0 8rem;
  text-align: center;
}

.slide-media {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide-media img {
  -webkit-transition: 7s 1s linear;
  transition: 7s 1s linear;
  -webkit-transform: translateX(-1.5%) scale(1.1);
  transform: translateX(-1.5%) scale(1.1);
}

.slide-title,
.slide-text,
.slide-link {
  opacity: 1;
}

.slide-title {
  font-size: 6rem;
  line-height: 0.8;
  color: var(--color-base);
}

.slide-text {
  font-size: 1.8rem;
  color: var(--color-base);
}

.swiper-slide[class*="-active"] .slide-media img {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(1.5%) scale(1.05);
  transform: translateX(1.5%) scale(1.05);
}


@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }

  .slide {
    height: max(100vh, 100vw);
  }

  .slide-title {
    font-size: 4rem;
    margin-bottom: 0;
  }

  .slide-text {
    font-size: 1.6rem;
    /*margin: 3.2rem 0;*/
  }
}

/*@media only screen and (max-width: 599px) {*/
/*  html {*/
/*    font-size: 50%;*/
/*  }*/
/*  .pc-tab {*/
/*    display: none !important;*/
/*  }*/
/*}*/
/*@media only screen and (min-width: 1025px) {*/
/*  .tab-sp {*/
/*    display: none !important;*/
/*  }*/
/*}*/
/*@media only screen and (min-width: 600px) {*/
/*  .sp {*/
/*    display: none !important;*/
/*  }*/
/*}*/
/*.hero__clip {*/
/*  aspect-ratio: 1/1.7;*/
/*  z-index: 2;*/
/*  top: 7vh;*/
/*  right: 7.5vw;*/
/*  width: 85vw;*/
/*  border-radius: 50vw;*/
/*  position: absolute;*/
/*  margin-left: auto;*/
/*  overflow: hidden;*/
/*}*/

/*@media only screen and (min-width: 768px) {*/
/*  .hero__clip {*/
/*    aspect-ratio: 1/1.3;*/
/*    top: 80px;*/
/*    right: 12vw;*/
/*    width: 76vw;*/
/*    border-radius: 38vw;*/
/*  }*/
/*}*/

.p-index-hero {
  aspect-ratio: 1/1.3;
  z-index: 2;
  position: relative;
  padding-top: 7vh;
}

@media only screen and (min-width: 768px) {
  .p-index-hero {
    aspect-ratio: 1/1.05;
    padding-top: 80px;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bc5872;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #d28fa0;
  border-radius: 5px;
}

#l-header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
}

#l-header #l-header__bg {
  position: relative;
}

#l-header #l-header__bg > .l-header__wrapper {
  display: flex;
  z-index: 3;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  height: 120px;
}

#l-header #l-header__logo {
  margin: 0;
  padding: 0 0 0 30px;
  font-size: 1rem;
  line-height: 100%;
  text-align: center;
}

#l-header #l-header__logo .l-header__logo--link {
  padding: 15px 0;
}

#l-header #l-header__logo .l-header__logo--link .l-header__logo--svg {
  fill: #898987;
  width: 90px;
}

@media (min-width: 768px) {
  #l-header #l-header__logo .l-header__logo--link .l-header__logo--svg {
    width: 167px;
  }
}

/*@media (max-width: 991px) {*/
/*  #l-gnav {*/
/*    speak: none;*/
/*    display: none;*/
/*  }*/
/*}*/
#l-gnav {
  display: none;
}

@media (min-width: 768px) {
  #l-gnav {
    display: block;
    visibility: visible;
    z-index: 1000;
    position: fixed;
    top: 30px;
    right: 20px;
    flex-basis: 0;
    flex-grow: 1;
    transform: translate(0) !important;
  }

  .l-gnav__item {
    font-size: 1rem;
  }
}

#l-gnav .l-gnav__nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

#s-gnav {
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: 0px;
}

@media (min-width: 768px) {
  #s-gnav {
    display: none;
  }
}

/* ハンバーガーボタン
==============================　*/
.toggle-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 2;
}

.toggle-btn__line {
  background: var(--color-text-base);
  display: block;
  height: 2px;
  position: absolute;
  transition: transform 0.5s;
  width: 100%;
}

.toggle-btn__line--top {
  top: 3px;
}

.toggle-btn__line--center {
  top: 15px;
}

.toggle-btn__line--bottom {
  top: 27px;
}

.toggle-btn__line--top.active {
  top: 15px;
  transform: rotate(45deg);
}

.toggle-btn__line--center.active {
  transform: scaleX(0);
}

.toggle-btn__line--bottom.active {
  top: 15px;
  transform: rotate(135deg);
}

/* ナビゲーションメニュー
==============================　*/
.global-nav {
  display: none;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.global-nav__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.global-nav__item {
  margin-bottom: 10px;
}

.global-nav__item a {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}

.global-nav__item a:hover {
  opacity: 0.7;
}

.c-loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-theme);
  z-index: 1001;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.slide-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 30;
  white-space: nowrap;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

/*    #img {*/
/*  position: fixed;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*}*/
#svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

#img {
  height: 100%;
  /*opacity:0;*/
}

.hero-wrapper {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  width: 100%;
  height: 100vh;
}

.title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.about-wrapper {
  background-color: var(--color-base);
  height: 100%;
  text-align: center;
  margin: 10% 0 10% 0;
}

.about-container {
  
}

.about-img {
  width: 30%;
  margin: 5% 0 5% 0;
}

.about-lead-txt {
  width: 55%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.about-txt {
  text-align: left;
  max-width: 70%;
  margin: 0 auto;
  display: inline-block;
  padding: 2%;
}

@media (max-width: 767px) {
  .about-item-img {
    height: 100%;
    object-fit: cover;
  }
  .about-lead-txt {
    width: 90%;
  }
.about-txt {
  max-width: 90%;
}
}
#about-h1 span, #about-h2 span {
  display: inline-block;
}

.img-box-container {
  clip-path: polygon(0 4vw, 100% 0, 100% 100%, 0 calc(100% - 4vw));
  height: 70vh;
  width: 100%;
  margin: 20% 0 20% 0;
  overflow: hidden;
}

.img-box {
  object-fit: cover;
    width: 100%;
    height: 100%;
}
@media (max-width: 767px) {
  .img-box-container {
    clip-path: polygon(0 10vw, 100% 0, 100% 100%, 0 calc(100% - 10vw));
    height: 50vh;
    width: 100%;
  }
}
.concept-wrapper {
  background-color: var(--color-base);
  height: 100%;
  text-align: center;
  margin: 0 auto;
  /*padding-bottom: 10%;*/
}
.concept-title {
  margin: 10% 0 10% 0;
}
#concept-h1 span, #concept-h2 span {
  display: inline-block;
}
.concept-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.concept-container-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -4vw;
  margin-bottom: -4vw;
  overflow: hidden;
}

.concept-img-container {
  width: 50%;
  clip-path: polygon(0 0, 100% 2vw, 100% calc(100% - 2vw), 0% 100%);
  position: relative;
  /*background-color: var(--color-theme);*/
}
.concept-img-left {
  width: auto;
  height: 50vh;
  background-image: url(../dist/assets/concept1.webp);
  background-size: cover;
}
.concept-img-right {
  width: auto;
  height: 50vh;
  background-image: url(../dist/assets/concept2.webp);
  background-size: cover;
}
.concept-img-left2 {
  width: auto;
  height: 50vh;
  background-image: url(../dist/assets/concept3.webp);
  background-size: cover;
}
.concept-img-cover {
  background-color: var(--color-theme);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-right: 0;
}
.concept-img-cover-right {
  background-color: var(--color-theme);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 0;
}
.concept-img-container-right {
  width: 50%;
  clip-path: polygon(0 2vw, 100% 0, 100% 100%, 0 calc(100% - 2vw));
  position: relative;
}



.concept-item-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.concept-item {
  width: 100%;
}
.concept-txt {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 2% 0 2% 0;
}
@media (max-width: 767px) {
  .concept-container-left {
    flex-direction: column-reverse;
    margin: 10% 0 10% 0;
  }
  .concept-img-container {
    width: 100%;
    clip-path: polygon(0 0, 100% 10vw, 100% calc(100% - 10vw), 0% 100%);
  }
  .concept-img-container-right {
    width: 100%;
    clip-path: polygon(0 10vw, 100% 0, 100% 100%, 0 calc(100% - 10vw));
  }
  .concept-item-container {
    width: 80%;
    margin-top: 10%;
  }
.concept-img-left {
  height: 40vh;
}
.concept-img-right {
  height: 40vh;
}
.concept-img-left2 {
  height: 40vh;
}
}
.img-box-container2 {
  clip-path: polygon(0 4vw, 100% 0, 100% 100%, 0 calc(100% - 4vw));
  height: 70vh;
  width: 100%;
  margin: 20% 0 20% 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .img-box-container2 {
    clip-path: polygon(0 10vw, 100% 0, 100% 100%, 0 calc(100% - 10vw));
    height: 50vh;
    width: 100%;
  }
}
.product-wrapper {
  background-color: var(--color-base);
  height: 100%;
  text-align: center;
  margin: 0 auto;
  /*padding-bottom: 10%;*/
}
.product-title {
  margin: 10% 0 10% 0;
}
#product-h1 span, #product-h2 span {
  display: inline-block;
}

.product-img-container {
  position: relative;
  clip-path: polygon(0 0, 100% 4vw, 100% calc(100% - 4vw), 0% 100%);
  height: 70vh;
  width: 100%;
  margin: 5% 0 20% 0;
  overflow: hidden;
}
.lnk-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-base)
}
.product-img {
  object-fit: cover;
    width: 100%;
    height: 100%;
    filter:grayscale(80%);
}
.product-lnk{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 80px;
  background-color: var(--color-theme);
  transform: translate(-50%, -50%);
  z-index: 3;
}
.product-lnk::before{
    top: 34px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    right: 18px;
    width: 25px;
    height: 5px;
    background: var(--color-base);
    transition: all 0.2s;
}
.product-lnk::after{
top: 48px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
        content: "";
    position: absolute;
    right: 18px;
    width: 25px;
    height: 5px;
    background: var(--color-base);
    transition: all 0.2s;
}
.product-lnk:hover::after, .product-lnk:hover::before{
  right:10px;
}
.product-img-cover {
  background-color: var(--color-theme);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-right: 0;
}
@media (max-width: 767px) {
  .product-img-container {
    clip-path: polygon(0 0, 100% 10vw, 100% calc(100% - 10vw), 0% 100%);
    height: 50vh;
    width: 100%;
  }
}

.shop-wrapper {
  background-color: var(--color-base);
  height: 100%;
  text-align: center;
  margin: 0 auto;
  /*padding-bottom: 10%;*/
}
.shop-title {
  margin: 10% 0 10% 0;
}
#shop-h1 span, #shop-h2 span {
  display: inline-block;
}

.shop-img-container {
  position: relative;
  clip-path: polygon(0 4vw, 100% 0, 100% 100%, 0 calc(100% - 4vw));
  height: 70vh;
  width: 100%;
  margin: 5% 0 20% 0;
  overflow: hidden;
}

.shop-img {
  object-fit: cover;
    width: 100%;
    height: 100%;
    filter:grayscale(80%);
}
.shop-lnk{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 80px;
  background-color: var(--color-theme);
  transform: translate(-50%, -50%);
  z-index: 3;
}
.shop-lnk::before{
    top: 34px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    right: 18px;
    width: 25px;
    height: 5px;
    background: #fff;
    transition: all 0.2s;
}
.shop-lnk::after{
top: 48px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
        content: "";
    position: absolute;
    right: 18px;
    width: 25px;
    height: 5px;
    background: #fff;
    transition: all 0.2s;
}
.shop-lnk:hover::after, .shop-lnk:hover::before{
  right:10px;
}
.shop-img-cover {
  background-color: var(--color-theme);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-right: 0;
}
@media (max-width: 767px) {
  .shop-img-container {
    clip-path: polygon(0 10vw, 100% 0, 100% 100%, 0 calc(100% - 10vw));
    height: 50vh;
    width: 100%;
  }
}

.noufuku-wrapper {
  background-color: var(--color-base);
  height: 100%;
  text-align: center;
  margin: 0 auto;
  /*padding-bottom: 10%;*/
}
.noufuku-title {
  margin: 10% 0 10% 0;
}
#noufuku-h1 span, #noufuku-h2 span {
  display: inline-block;
}

.noufuku-img-container {
  position: relative;
  clip-path: polygon(0 0, 100% 4vw, 100% calc(100% - 4vw), 0% 100%);
  height: 70vh;
  width: 100%;
  margin: 5% 0 20% 0;
  overflow: hidden;
}

.noufuku-img {
  object-fit: cover;
    width: 100%;
    height: 100%;
    filter:grayscale(80%);
}
.noufuku-lnk{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 80px;
  background-color: var(--color-theme);
  transform: translate(-50%, -50%);
  z-index: 3;
}
.noufuku-lnk::before{
    top: 34px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    right: 18px;
    width: 25px;
    height: 5px;
    background: #fff;
    transition: all 0.2s;
}
.noufuku-lnk::after{
top: 48px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
        content: "";
    position: absolute;
    right: 18px;
    width: 25px;
    height: 5px;
    background: #fff;
    transition: all 0.2s;
}
.noufuku-lnk:hover::after, .noufuku-lnk:hover::before{
  right:10px;
}
.noufuku-img-cover {
  background-color: var(--color-theme);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin-right: 0;
}
@media (max-width: 767px) {
  .noufuku-img-container {
    clip-path: polygon(0 0, 100% 10vw, 100% calc(100% - 10vw), 0% 100%);
    height: 50vh;
    width: 100%;
  }
}

.access-container {
  display: flex;
  flex-direction: column;
  padding: 3%;
  gap: 5vh 5vw;
}
#access-h1 span, #access-h2 span {
  display: inline-block;
}
.access-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-item-img {
  width: 100%;
  object-fit: contain;
  border-radius: 30px;
}

.access-item-txt {
  text-align: left;
  padding: 5%;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .access-container {
    flex-direction: row;
  }

  .access-item-txt {
    padding: 0 10vw 0 0;
    font-size: 1rem;
  }
}


#instagram-h1 span, #instagram-h2 span {
  display: inline-block;
}

.footer{
  position: relative;
  width: 100%;
  height: 30vh;
  background-color: var(--color-theme);
  clip-path: polygon(0 4vw, 100% 0, 100% 100%, 0% 100%);
}
.copyRight {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
@media (max-width: 767px) {
  .footer {
    clip-path: polygon(0 10vw, 100% 0, 100% 100%, 0% 100%);
  }
}

.menu-img-box-container {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  height: 70vh;
  width: 100%;
  margin: 0 0 5% 0;
  overflow: hidden;
}

.menu-wrapper {
  background-color: var(--color-base);
  height: 100%;
  text-align: center;
  margin: 0 auto;
  /*padding-bottom: 10%;*/
}
.menu-title {
  margin: 10% 0 20% 0;
}
#menu-more-h1 span {
  display: inline-block;
}
.menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
}
.menu-container-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -4vw;
  margin-bottom: -4vw;
  /*overflow: hidden;*/
}

.menu-img-container {
  width: 50%;
  position: relative;
  margin: 0 2% 0 2%;
}
.menu-img-left {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 4vw 100%);
  width: auto;
  height: 70vh;
  background-image: url(../dist/assets/concept1.webp);
  background-size: cover;

}
.menu-img-left2 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 4vw 100%);
  width: auto;
  height: 70vh;
  background-image: url(../dist/assets/concept2.webp);
  background-size: cover;
}
.menu-img-left3 {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 4vw 100%);
  width: auto;
  height: 70vh;
  background-image: url(../dist/assets/concept3.webp);
  background-size: cover;
}
.menu-img-title {
  background-color: #0f0f0f;
  position: absolute;
  top: -10%;
  left: -3%;
  width: 180px;
  height: 60px;
  opacity: 0.95;
  text-align: center;
  overflow: hidden;
}
.menu-img-price {
  background-color: #0f0f0f;
  position: absolute;
  bottom: -10%;
  right: -5%;
  width: 120px;
  height: 60px;
  opacity: 0.95;
}
.menu-img-cover-right {
  background-color: var(--color-theme);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 0;
}

.menu-img-text{
  color: #f0f0f0;
  font-size: 1.5rem;
  line-height: 60px;
}

.menu-item-container {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.menu-item {
  width: 100%;
}
.menu-txt {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  padding: 2% 0 2% 0;
}
@media (max-width: 767px) {
.menu-img-title {
  top: -7%;
  left: -3%;
  width: 150px;
  height: 40px;
}
.menu-img-price {
  bottom: -10%;
  right: -5%;
  width: 100px;
  height: 40px;
}
.menu-img-text{
  line-height: 40px;
}
  .menu-container {
    margin-bottom: 20%;
  }
  .menu-img-container {
    width: 100%;
    margin: 0 8% 0 8%;
  }
  .menu-item-container {
    width: 80%;
    margin-top: 10%;
  }
.menu-img-left, .menu-img-left2, .menu-img-left3 {
  height: 40vh;
}
}


/* menu design */
dl.menu{
  width:100%;
  font-size: 1rem;
  }
dl.menu div{
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 5px 0;
  }
dl.menu div::after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
  border-bottom: dotted 1px #000;
  }
dl.menu dt{
  margin:0;
  padding: 0 5px 0 0;
  background-color: #ffffff;
  z-index: 2;
  text-align: left;
  }
dl.menu dd{
  margin:0;
  padding: 0 0 0 5px;
  background-color: #ffffff;
  z-index: 2;
  text-align: right;
  }

.menu-more-wrapper{
  display: flex;
  flex-wrap: wrap;
}


section.menu_area{
  width: 45%;
  margin:0 auto;
  padding: 0 20px 0 20px;
  background-color:#ffffff;
}
@media (max-width: 767px) {
  section.menu_area{
  width: 90vw;
}
}
.back-lnk-container {
  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}
.back-lnk{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 80px;
  background-color: var(--color-theme);
  transform: translate(-50%, -50%);
  z-index: 3;
}
.back-lnk::before{
    top: 34px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    left: 18px;
    width: 25px;
    height: 5px;
    background: #fff;
    transition: all 0.2s;
}
.back-lnk::after{
top: 48px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
        content: "";
    position: absolute;
    left: 18px;
    width: 25px;
    height: 5px;
    background: #fff;
    transition: all 0.2s;
}
.back-lnk:hover::after, .back-lnk:hover::before{
  left:10px;
}