@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;500&display=swap");

:root {
  --easing: cubic-bezier(.2, 1, .2, 1);
  --transition: .8s var(--easing);
  --color-base: #f8f8f8;
  --color-gray: #ddd;
  --color-theme: #8E394F;
  --color-theme-darken: #572331;
  --color-text-base: #333;
  --box-shadow: .8rem .8rem 1.2rem rgba(0, 0, 0, .05), -.8rem -.8rem 1.2rem #fff;
  --box-shadow-hover: 1rem 1rem 1.5rem rgba(0, 0, 0, .08), -1rem -1rem 1.5rem #fff;
  --box-shadow-inset: inset .8rem .8rem 1.2rem rgba(0, 0, 0, .05), inset -.8rem -.8rem 1.2rem #fff;
  --box-shadow-dark: .8rem .8rem 1.2rem rgba(0, 0, 0, .1), -.8rem -.8rem 1.2rem rgba(#fff, .2);
}

html {
  font-family: "Spartan", "Kiwi Maru", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, sans-serif;
  /*font-size: 62.5%;*/
  height: 100%;
  word-break: break-word;
  color: #333;
  background-color: var(--color-base);
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.8;
  /*scroll-behavior: smooth;*/
}
@media only screen and (max-width: 767px) {
  html {
    font-size: 80%;
  }
}
body {
  font-size: 1.4rem;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  color: #fff;
  background: var(--color-theme);
}

::selection {
  color: #fff;
  background: var(--color-theme);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 1rem
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.2
}

h1 {
  font-size: 1.8rem
}

h2 {
  font-size: 1.5rem
}

h3 {
  font-size: 1.3rem
}

h4 {
  font-size: 1.2rem
}

h5 {
  font-size: 1.1rem
}

h6 {
  font-size: 1rem
}

img {
  border: 0;
  margin: 0;
}

figure {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

main {
  display: block;
}

.l-inner {
  position: relative;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10rem;
}

.l-section {
  border-top: 1px solid #eee;
}

.l-section .l-inner {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

[class*=swiper]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}

.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}


.swiper-button-prev,
.swiper-button-next {
  display: grid;
  place-content: center;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.swiper-button-prev::before,
.swiper-button-next::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  width: 1.2rem;
  height: 1.2rem;
  content: "";
  border: solid var(--color-gray);
  border-width: 3px 3px 0 0;
}

.swiper-button-prev::after {
  margin-left: 0.4rem;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.swiper-button-next::after {
  margin-right: 0.4rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

.mv02 {
  margin-bottom: 16rem;
}

.mv02 .l-inner {
  padding-bottom: 0;
}

.mv02 .swiper-pagination {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
}

.mv02 .swiper-pagination-bullet {
  display: block;
  width: 1.6rem;
  height: 2px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  background-color: #fff;
}

.mv02 .swiper-pagination-bullet:not(:first-child) {
  margin-top: 1.6rem;
}

.mv02 .swiper-pagination-bullet-active {
  width: 4rem;
  background-color: var(--color-theme);
}

.mv02 .swiper-fade .swiper-slide {
  -webkit-transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, -webkit-transform !important;
  transition-property: opacity, transform !important;
  transition-property: opacity, transform, -webkit-transform !important;
  pointer-events: none;
}

.mv02 .swiper-fade .swiper-slide-active {
  pointer-events: auto;
}

.mv02 .slide {
  display: grid;
  place-content: center;
  height: 100vh;
  padding: 0 8rem;
  text-align: center;
}

.mv02 .slide-media {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mv02 .slide-media img {
  -webkit-transition: 7s 1s linear;
  transition: 7s 1s linear;
  -webkit-transform: translateX(-1.5%) scale(1.1);
  transform: translateX(-1.5%) scale(1.1);
}

.mv02 .slide-title,
.mv02 .slide-text,
.mv02 .slide-link {
  opacity: 1;
}

.mv02 .slide-title {
  font-size: 6rem;
  line-height: 0.8;
  color: var(--color-base);
}

.mv02 .slide-text {
  font-size: 1.8rem;
  color: var(--color-base);
}

.mv02 .slide-button {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  color: var(--color-theme);
}

.mv02 .slide-button::before {
  display: inline-block;
  width: 6rem;
  height: 1px;
  margin: -2px 1.6rem 0 0;
  content: "";
  vertical-align: middle;
  background-color: currentColor;
}

.mv02 .swiper-slide[class*=-active] .slide-media img {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(1.5%) scale(1.05);
  transform: translateX(1.5%) scale(1.05);
}

@-webkit-keyframes mv02-fadeIn {
  0% {
    -webkit-transform: translateY(6rem);
    transform: translateY(6rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes mv02-fadeIn {
  0% {
    -webkit-transform: translateY(6rem);
    transform: translateY(6rem);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes mv02-fadeOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-6rem);
    transform: translateY(-6rem);
    opacity: 0;
  }
}

@keyframes mv02-fadeOut {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(-6rem);
    transform: translateY(-6rem);
    opacity: 0;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    -webkit-text-size-adjust: 100%;
  }

  .l-inner {
    padding: 0 4rem;
  }

  .pc {
    display: none !important;
  }

  .mv02 {
    margin-bottom: 8rem;
  }

  .mv02 .slide {
    height: max(100vh, 100vw);
  }

  .mv02 .slide-title {
    font-size: 4rem;
    margin-bottom: 0;
  }

  .mv02 .slide-text {
    font-size: 1.6rem;
    /*margin: 3.2rem 0;*/
  }
}

/*@media only screen and (max-width: 599px) {*/
/*  html {*/
/*    font-size: 50%;*/
/*  }*/

/*  .pc-tab {*/
/*    display: none !important;*/
/*  }*/
/*}*/

/*@media only screen and (min-width: 1025px) {*/
/*  .tab-sp {*/
/*    display: none !important;*/
/*  }*/
/*}*/

/*@media only screen and (min-width: 600px) {*/
/*  .sp {*/
/*    display: none !important;*/
/*  }*/
/*}*/

.hero__clip {
  aspect-ratio: 1/1.7;
  z-index: 2;
  top: 7vh;
  right: 7.5vw;
  width: 85vw;
  border-radius: 50vw;
  position: absolute;
  margin-left: auto;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .hero__clip {
    aspect-ratio: 1/1.3;
    top: 80px;
    right: 12vw;
    width: 76vw;
    border-radius: 38vw;
  }
}

.p-index-hero {
  aspect-ratio: 1/1.3;
  z-index: 2;
  position: relative;
  padding-top: 7vh;
}

@media only screen and (min-width: 768px) {
  .p-index-hero {
    aspect-ratio: 1/1.05;
    padding-top: 80px;

  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #bc5872;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #d28fa0;
  border-radius: 5px;
}

#l-header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
}

#l-header #l-header__bg {
  position: relative;
}

#l-header #l-header__bg>.l-header__wrapper {
  display: flex;
  z-index: 3;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  height: 120px;
}

#l-header #l-header__logo {
  margin: 0;
  padding: 0 0 0 30px;
  font-size: 1rem;
  line-height: 100%;
  text-align: center;
}

#l-header #l-header__logo .l-header__logo--link {
  padding: 15px 0;
}

#l-header #l-header__logo .l-header__logo--link .l-header__logo--svg {
  fill: #898987;
  width: 90px;
}

@media (min-width: 768px) {
  #l-header #l-header__logo .l-header__logo--link .l-header__logo--svg {
    width: 167px;
  }
}

/*@media (max-width: 991px) {*/
/*  #l-gnav {*/
/*    speak: none;*/
/*    display: none;*/
/*  }*/
/*}*/

#l-gnav {
  display: none;
}

@media (min-width: 768px) {
  #l-gnav {
    display: block;
    visibility: visible;
    z-index: 1000;
    position: fixed;
    top: 30px;
    right: 20px;
    flex-basis: 0;
    flex-grow: 1;
    transform: translate(0) !important;
  }

  .l-gnav__item {
    font-size: 1rem;
  }
}

#l-gnav .l-gnav__nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

#s-gnav {
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: 0px;
}

@media (min-width: 768px) {
  #s-gnav {
    display: none;
  }
}

/* ハンバーガーボタン
==============================　*/
.toggle-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 2;
}

.toggle-btn__line {
  background: var(--color-text-base);
  display: block;
  height: 2px;
  position: absolute;
  transition: transform 0.5s;
  width: 100%;
}

.toggle-btn__line--top {
  top: 3px;
}

.toggle-btn__line--center {
  top: 15px;
}

.toggle-btn__line--bottom {
  top: 27px;
}

.toggle-btn__line--top.active {
  top: 15px;
  transform: rotate(45deg);
}

.toggle-btn__line--center.active {
  transform: scaleX(0);
}

.toggle-btn__line--bottom.active {
  top: 15px;
  transform: rotate(135deg);
}

/* ナビゲーションメニュー
==============================　*/
.global-nav {
  display: none;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.global-nav__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.global-nav__item {
  margin-bottom: 30px;
}

.global-nav__item a {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}

.global-nav__item a:hover {
  opacity: 0.7;
}

.c-loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-theme);
  z-index: 1001;
  display: grid;
  place-items: center;
  pointer-events: none;
}

.dummy {
  background-color: var(--color-theme);
  height: 130vh;
  padding-top: 145px;
}

.c-curve-wrapper {
  position: relative;
  top: 145px;
  height: 150px
}

@media (max-width: 767px) {
  .dummy {
    padding-top: 95px;
    height: 120vh;
  }

  .c-curve-wrapper {
    top: 95px;
    height: 100px
  }
}

.c-curve {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 140px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .c-curve {
    height: 100px
  }
}

.c-curve:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 150vw;
  height: 600%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--color-base);
  content: ""
}

@media (max-width: 1440px) {
  .c-curve:before {
    height: 500%
  }
}

@media (max-width: 991px) {
  .c-curve:before {
    height: 300%
  }
}

@media (max-width: 767px) {
  .c-curve:before {
    height: 200%
  }
}

@media (max-width: 575px) {
  .c-curve:before {
    height: 150%
  }
}

.dummy-w {
  background-color: var(--color-base);
  height: 130vh;
}

.w-curve-wrapper {
  position: relative;
  /*top: 145px;*/
  height: 150px
}

@media (max-width: 991px) {
  .w-curve-wrapper {
    /*top: 95px;*/
    height: 100px
  }
}

.w-curve {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 140px;
  overflow: hidden;
}

@media (max-width: 991px) {
  .w-curve {
    height: 100px
  }
}

.w-curve:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 150vw;
  height: 600%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--color-theme);
  content: ""
}

@media (max-width: 1440px) {
  .w-curve:before {
    height: 500%
  }
}

@media (max-width: 991px) {
  .w-curve:before {
    height: 300%
  }
}

@media (max-width: 767px) {
  .c-curve:before {
    height: 200%
  }
}

@media (max-width: 575px) {
  .w-curve:before {
    height: 150%
  }
}

.slide-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 30;
  white-space: nowrap;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

/*    #img {*/
/*  position: fixed;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*}*/

#svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

#img {
  height: 100%;
  /*opacity:0;*/
}

.container {
  display: flex;
  flex-direction: column;
  padding: 3%;
  gap: 5vh 5vw;
}

.flex-item {
  flex: 1;
}

.flex-item-img {
  width: 100%;
  object-fit: contain;
  border-radius:30px
}

.flex-item-txt {
  color: #FFF;
  padding: 5%;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .flex-item-txt {
    padding: 0 10vw 0 0;
  }
}
#about span{
  display: inline-block;
}